<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="8" android:versionName="1.4.3" package="de.mtbnews.android">

	<application android:icon="@drawable/ibc_icon"
		android:name=".IBCApplication" android:label="@string/app_name">
		
		<activity android:name=".IBCActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="Configuration" android:label="@string/preferences"></activity>

		<activity android:name="NewsDetailActivity" android:label="@string/news"></activity>
		<activity android:name="PhotoActivity" android:label="@string/photos"></activity>

		<activity android:name="ForumOverviewActivity" android:label="@string/forum" >
			<!-- URL-Filter, damit diese Activity beim Aufruf der Forum-URL gestartet wird. -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="www.mtb-news.de" android:path="/forum/index.php" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="www.mtb-news.de" android:path="/forum/" />
			</intent-filter>
			<intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		
		<activity android:name="ForumActivity" android:label="@string/forum" android:configChanges="keyboardHidden|orientation">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		
		<activity android:name="TopicActivity" android:label="@string/forum" android:configChanges="keyboardHidden|orientation">
		</activity>

		<activity android:name=".SearchActivity">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data android:name="android.app.searchable"
				android:resource="@xml/searchable" />
		</activity>

		<activity android:name="MailboxActivity" android:label="@string/mailbox">
			<intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
		</activity>
		<activity android:name="MailActivity" android:label="@string/mailbox">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
			</intent-filter>
		</activity>
		<activity android:name="MessageActivity" android:label="@string/mailbox"></activity>
		<activity android:name="ReplyMailActivity" android:label="@string/reply"></activity>
		<activity android:name="ReplyPostActivity" android:label="@string/reply"></activity>
		<activity android:name="CreateTopicActivity" android:label="@string/new_topic"></activity>
		<activity android:name="SubscriptionForenActivity"
			android:label="@string/subscription_forums"></activity>
		<activity android:name="SubscriptionTopicsActivity"
			android:label="@string/subscription_topics"></activity>

		<!-- declare the default searchable Activity for the whole app -->
		<meta-data android:name="android.app.default_searchable"
			android:value=".SearchActivity" />

		<service android:name=".service.SubscriptionService"></service>

		<receiver android:exported="false" android:name=".receiver.NetworkStateReceiver">
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
		</receiver>
	</application>

	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<!-- Android 1.6 -->
	<uses-sdk android:minSdkVersion="4"></uses-sdk>

</manifest> 